<div class="content ">

  <p-card>



    <div class="col-12">
      <h1>Ejecucion</h1>



    </div>

    <div class="formgrid grid">

      <div class="field md:col-6">
        <label for ="">Año:</label>
        <input
        type="number"
        pInputText
        class="inputfield w-full"
        [(ngModel)]="filters.eje_anio"
        (ngModelChange)="changeFilter()"
        >
      </div>
      <!--
      <div class="field col">

        <label for ="">Programa:</label>
        <p-dropdown

        [options]="programas"
        [(ngModel)]="filters.pro_id"
        optionLabel="pro_nombre"
        placeholder="Seleccione un programa"
        optionValue="pro_id"
        [style]="{'width':'100%'}"
        class="inputfield w-full"
        [showClear]="true"
        (ngModelChange)="changeFilter()"

      >

    </p-dropdown>
  -->


    </div>


    <p-table #dt [value]="ejecuciones"   styleClass="p-datatable-customers" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Viendo {first} hasta {last} de {totalRecords} registros"
    [filterDelay]="0" [globalFilterFields]="['act_nombre']">





    <ng-template pTemplate="caption">
        <div class="table-header">

            <button
            pButton
            type="button"
            label="Agregar"
            icon="pi pi-plus"
            class="p-button-primary p-button-rounded mr-2 mb-2"
            (click)="crear()"
            >
            </button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>


        <th pSortableColumn="eje_anio">Año <p-sortIcon field="eje_anio"></p-sortIcon></th>
          <th pSortableColumn="nombdist">Distrito <p-sortIcon field="nombdist"></p-sortIcon></th>
          <th pSortableColumn="eje_nombre">Nombre <p-sortIcon field="eje_nombre"></p-sortIcon></th>
          <th >Direccion </th>
          <th >Referencia </th>
          <th pSortableColumn="prg_fecha_inicio">Fecha Inicio<p-sortIcon field="prg_fecha_inicio"></p-sortIcon></th>
          <th pSortableColumn="prg_fecha_fin">Fecha Fin<p-sortIcon field="prg_fecha_fin"></p-sortIcon></th>
          <th ># beneficiarios </th>
          <th >Estado ejecución </th>
          <th >Fecha creación </th>


          <th ></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ejecucion>
      <tr >

        <td>{{ ejecucion.eje_anio  }}</td>
        <td>{{ ejecucion.nombdist  }}</td>
        <td>{{ ejecucion.eje_nombre  }} </td>
        <td>{{ ejecucion.eje_direccion  }} </td>
        <td>{{ ejecucion.eje_referencia  }} </td>
        <td>{{ ejecucion.eje_fecha_inicio| date:'dd/MM/YYYY' }} </td>
        <td>{{ ejecucion.eje_fecha_fin  | date:'dd/MM/YYYY'}} </td>
        <td>{{ ejecucion.eje_nro_beneficiados  }} </td>
        <td>{{ ejecucion.eej_nombre  }} </td>
        <td> {{ ejecucion.fecha_crea  | date:'dd/MM/YYYY'}} </td>

        <td>
          <button
          pButton
          type="button"
          label=""
          icon="pi pi-pencil"
          class="p-button-warning p-button-rounded mr-2 mb-2"
          (click)="actualizar(ejecucion)"
          >

          </button>

          <button
          pButton
          (click)="eliminar(ejecucion)"
          class="p-button-danger p-button-rounded p-mr-2 mb-2"
          icon="pi pi-trash"

        ></button>
        </td>
      </tr>

    </ng-template>
    </p-table>

  </p-card>
</div>



<p-confirmDialog #cd [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h3>Eliminar la ejecucion</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      class="p-button-outlined p-button-danger"
      pButton
      icon="pi pi-times"
      label="Cancelar"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      class="p-button-success"
      pButton
      icon="pi pi-check"
      label="Aceptar"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>

