<p-toast></p-toast>
<div class="content"  *ngIf="accionModel">
  <p-card>
    <h2>{{title}}</h2>

    <form [formGroup]="accionFormGroup" *ngIf="accionFormGroup" >
      <div class="formgrid grid">
        <div class="field col-12">
          <label for="lia_nombre">
            Descripcion
          </label>

          <input

          type="text"
          pInputText
          formControlName="lia_nombre"
          class="inputfield w-full"
          [(ngModel)]="accionModel.lia_nombre"
          />

          <small
              class="text-danger"
              *ngIf="
              accionFormGroup.controls['lia_nombre']?.errors
              "
            >
              {{ accionFormGroup.controls['lia_nombre'].errorMessage }}</small
            >
        </div>

        <div class="field col-12">
          <label for="prg_id">
            Programa
          </label>
          <p-dropdown
          formControlName="prg_id"
          [options]="programas"
          [(ngModel)]="accionModel.prg_id"
          optionLabel="pro_nombre"
          placeholder="Seleccione un programa"
          optionValue="pro_id"
          [style]="{'width':'100%'}"


        ></p-dropdown>
          <!--
              pro_id ?:number;
  pro_nombre?: string;
            <input

          type="text"
          pInputText
          formControlName="prg"
          class="inputfield w-full"
          [(ngModel)]="accionModel.prg"
          />-->


<!--
          <div class="field col-12">
            <label>Distrito:</label>

            <p-dropdown
            formControlName="ubigeo"
            [options]="distritos"
            [(ngModel)]="usuarioModel.ubigeo"
            optionLabel="disNombre"
            placeholder="Seleccione un distrito"
            optionValue="disUbigeo"
            [style]="{'width':'100%'}"


          ></p-dropdown>
          </div>-->

          <small
              class="text-danger"
              *ngIf="
              accionFormGroup.controls['prg_id']?.errors
              "
            >
              {{ accionFormGroup.controls['prg_id'].errorMessage }}</small
            >
        </div>

      </div>

      <div class="flex justify-content-between">
        <button
        pButton
        label="Guardar"
        (click)="save()"
        type="submit"

        class="p-button-primary"
        [disabled]="!accionModel.is_valid"
      ></button>

      <button
      pButton
      label="Regresar"
      (click)="regresar()"
      class="p-button-secundary"

    ></button>


      </div>
    </form>

  </p-card>
</div>


<p-confirmDialog #cd [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h3>Guarda datos</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      class="p-button-outlined p-button-danger"
      pButton
      icon="pi pi-times"
      label="Cancelar"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      class="p-button-success"
      pButton
      icon="pi pi-check"
      label="Aceptar"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
