@import '/src/styles.scss';



.menu-content{
  height: 100%;
  background-color: $color-secondary !important;
  img{
    width: 200px;
    margin: 1rem;

  }

}


:host ::ng-deep .p-panelmenu .p-panelmenu-header > a{
  background-color: $color-secondary !important;
  color: white;
}




:host ::ng-deep .p-panelmenu .p-menuitem {
  background-color: $color-secondary !important;
  color: white;
}


:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  background-color: $color-secondary !important;
  color: white;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
  color: white;
}
